# Server Configuration
PORT=5001
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database Settings (MongoDB Atlas with Vector Search)
DB_NAME=supportIq
MONGODB_URL=mongodb+srv://<db_user>:<db_password>@cluster0.ooxyh0s.mongodb.net/?appName=Cluster0

# Authentication Secret
JWT_SECRET=your_jwt_secret_key_here

# AI & LLM Provider Keys (Groq SDK)
GROQ_API_KEY=gsk_your_groq_api_key_here
